/***************************/
/*  MOBILE RESPONSIVENESS  */
/***************************/
@media (max-width: 600px) {
    .top-section { height: 26vh; }
    .top-section h1 { 
        font-size: 2.8rem; 
        padding: 20px 20px 12px 20px;
        margin-top: 48%;
        margin-bottom: 56%;
    }
    .wave-bottom svg { height: 20px; }
    .body-section { 
        margin-top: -40px; /* Adjusted for mobile wave height */
        padding: 48px 20px 80px 20px;
    }

    #dynamic-services-container .accordion-item { 
        flex: 0 0 20px;
        /* height: 280px; */
    }
    
    .footer-container {
        flex-direction: column;
        align-items: center;    
        text-align: center;     
        gap: 40px;              
    }
}